/*====================
=======Structure======
======================*/

header{

}

main{
   
}

/*====================
========Columns=======
======================*/

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 0%);
}s

h1, h2, h3, h4 {
    font-family: "Roboto";
}

h5, h6, span {
    font-family: "Roboto Condensed";
}

a, td, p, button, span, li{
    font-family: "Roboto";
    text-decoration: none;

}


/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}


/*====================
========Header=========
======================*/

.cabecera-superior{
    background-color:#E6E6E6;
    padding: 0.5rem 5%;
    width: 90%;
}

.cabecera-superior-noticias-destacadas{
    width: 85%;
}

.cabecera-superior-noticias-destacadas ul{
    justify-content: space-evenly;
    display: flex;  
}

.cabecera-superior-noticias-destacadas ul li{
    font-size: 0.8rem;
}

.cabecera-superior-noticias-destacadas ul li:not(:first-child):not(:last-child)::after {
    padding-left: 0.25rem;
    content: "-";
}

.cabecera-superior-noticias-destacadas ul li:first-child{
    color:red;
    font-weight: 600;
}

.cabecera-superior-islas{
    margin-left: 45%;
    width: 55%;
}

.cabecera-superior-islas ul{   
    display:flex;
    justify-content:space-between;
}

.cabecera-superior-islas ul li{   
    font-size: 0.8rem;
}

.cabecera-superior-islas ul li:not(:last-child)::after {
    content: "|";
    padding-left: 0.5rem;
    color: #aaa;
    font-weight: bold;
}

.cabecera-principal{
    background-color:#CD0000 ;
    justify-content: space-between;
    padding: 1rem 5%;
    width: 90%;
}


.cabecera-principal-boton-menu svg{
    width:3.5em;
}

.cabecera-principal-boton-menu svg path{
    fill:hsl(0, 0%, 100%);
}

.cabecera-principal-logo svg{
    width: 20rem;
}

.cabecera-principal-logo svg path{
    fill:hsl(0, 0%, 99%);
}

.cabecera-principal-usuarios{
    justify-content: space-between;
    display:flex;
    margin-left: auto;
    width: 70%;
    

}

.cabecera-principal-usuarios-login svg{
    vertical-align: middle;
    width: 1.2rem;
   
}



.cabecera-principal-usuarios-registro button{
    border: none;
    background-color:#FFC700;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    font-style: italic;
    
}


.cabecera-principal-usuarios-registro button{
    border-radius: 0.2rem;
}

.cabecera-menu {
    background-color:#E6E6E6;
    padding: 0.5rem 5%;
    width: 90%;
}

.cabecera-menu ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera-menu ul li{
    font-family: "Roboto Condensed";
    font-weight: 600;
}


.ad{
    text-align: center;
    margin-top:1em;
    }

main{

    width: 90%;
    padding: 0 5%;

   }



.news{

padding:2%;

}

.news-category{

color:red;
}

.news-related ul li{

list-style:square;
color:red;
list-style-position: inside;

}


.new a{

    list-style:square;
    color:red;
    list-style-position: inside;
    color:#E6E6E6;
  
}

.news-title{

    padding: 5px 1px;
    
}

.news-author{

    padding:5px 1px;

}

.news-related  ul li{

    padding:8px 2px; 

}

.news-title  :hover{

    color: #CD0000;
}

.news-related :hover{

     color:#CD0000;

}



/*====================
========Banners========
======================*/



/*====================
========News==========
======================*/
